<h1><%= @recipe.name %></h1>

<h3>Description</h3>
<% if !@recipe.description.blank? %>
  <p><%= @recipe.description %></p>
<% else %>
  <p>The recipe doesn't have a description.</p>
<% end %>

<h3>Instructions</h3>
<% if @recipe.instructions.blank? %>
  <p><%= @recipe.instructions %></p>
<% end %>

<h2>Ingredients</h2>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>

<p><a href="/recipes">Back to Recipes</a></p>
